<div ng-controller="profileCtrl">
    <br />
    <div class="container">
        <br />
        <div class="row" ng-show="user">
            <div class="col-md-3">
                <img class="avatar-img" ng-src="{{user.avatar_url}}" />
                <br />
                <div>
                    <h2>{{user.name}}</h2>
                    <h3>{{user.login}}</h3>
                </div>
                <br />
                <div>
                    <p>{{user.email}}</p>
                    <p>{{user.bio}}</p>
                    <p>{{user.location}}</p>
                </div>
                <br />
                <div class="row align-middle pull-left">
                    <div class="col-md-4">
                        <h4>{{user.followers}}</h4> Followers
                    </div>
                    <div class="col-md-4">
                        <h4>{{totalStars}}</h4> Stars
                    </div>
                    <div class="col-md-4">
                        <h4>{{totalFollowing}}</h4> Following
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success btn-lg btn-block compare-button" ng-click="goToCompare()">Compare</button>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Repositories</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="repo in repos">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4><span class="highlight hover-hand" ng-click="goToRepo(repo.name)">{{repo.name}}</span></h4>
                                    <p>{{repo.description}}</p>
                                </div>
                                <div class="col-md-2">
                                    <div ng-if="repo.description">
                                        <br />
                                    </div>
                                    <div class="pull-right">
                                    <p>{{repo.stargazers_count}} <i class="fa fa-star" aria-hidden="true"></i></p>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
