body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/*
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
*/
.navbar-brand{
  padding-left: 30px;
}
.avatar-img{
    width:230px;
    height: 230px;
    border-radius: 10px;
}
.compare-avatar{
  margin-left: 10px;;
  width:75px;
  height:75px;
  border-radius: 5px;
}
.align-middle{
  text-align: center;
}
.winner{
  color: green;
}
.loser{
  color:red;
}
